header {
  block-size: 60px;
  color: #fff;
  font-family: var(--secondary-font);
  inset-inline: 0;
  position: fixed;
  z-index: 1000;

  .container {
    inline-size: 100%;
  }

  .header-container {
    align-items: center;
    background-color: #000;
    block-size: 100%;
    display: flex;
    inline-size: 100%;
    justify-content: flex-start;
  }

  .header-logo__container {
    block-size: 30px;
    font-weight: bold;
    inline-size: fit-content;
    margin-inline: 0 auto;
    overflow: hidden;
  }

  span {
    display: block;
    vertical-align: middle;
  }
}
