header {
  block-size: 60px;
  color: #fff;
  font-family: var(--secondary-font);
  inset-inline: 0;
  position: fixed;
  z-index: 1000;

  .header__navigation {
    color: #fff;
    z-index: 10;
  }

  .header__menu-trigger {
    block-size: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    overflow: hidden;
    padding-inline: 10px;
  }

  .header__menu-trigger-inner {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
      display: block;
      padding-block: 7.5px;
    }
  }

  .container {
    align-items: center;
    display: flex;
    inline-size: 100%;
  }

  .header__overlay-menu {
    background: #000;
    display: block;
    inset: 0;
    position: fixed;
    z-index: 0;
  }

  .header-container {
    align-items: center;
    background-color: #000;
    block-size: 100%;
    display: flex;
    inline-size: 100%;
    justify-content: flex-start;
  }

  .header-logo__container {
    block-size: 30px;
    font-weight: bold;
    inline-size: fit-content;
    margin-inline: 0 auto;
    overflow: hidden;

    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
  }

  span {
    display: block;
    vertical-align: middle;
  }
}

.header__overlay-menu-innner {
  display: flex;
}
