<footer>
  <div class="container">
    <div class="left">
      <fade-in-up bottom="20px">
      <h2>Get updates on new releases</h2>
      </fade-in-up>
      <animated-element
      class="footer-scrub-decorator"
      scrub
      scale-x="0,1"
      start-offset="start end"
      end-offset="end 75%"
    ></animated-element>
    </div>
    <div class="right">
      <trigger-element  class="footer__contact-button-trigger" target="self" event="hover" scale="1, 1.2">
      <button class="footer__contact-button">
        <animated-element class="footer__button-background" scale-x="0,1" duration="0.5"></animated-element>
        <fade-in-up class="footer__button-content" delay="1" duration="0.75">Contact Us</fade-in-up>
      </button>
      </trigger-element>
      <animated-timeline class="ui-elements-socials" delay="1">
        <fade-in-up at="0">
          <a
            href="https://www.facebook.com/Mellem-100667885090761"
            target="_blank"
            aria-label="Ouvre un lien externe vers facebook"
            class="social-link"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="-icon -illustrative -socials ui-fragments-svg"
            >
              <path
                d="M12.0004 2.3999C6.69789 2.3999 2.40039 6.6974 2.40039 11.9999C2.40039 16.7924 5.91039 20.7637 10.5004 21.4837V14.7749H8.06289V11.9999H10.5004V9.8849C10.5004 7.47928 11.9329 6.1499 14.1266 6.1499C15.1766 6.1499 16.2754 6.3374 16.2754 6.3374V8.6999H15.0641C13.8716 8.6999 13.5004 9.44053 13.5004 10.1999V11.9999H16.1629L15.7373 14.7749H13.5004V21.4837C18.0904 20.7637 21.6004 16.7924 21.6004 11.9999C21.6004 6.6974 17.3029 2.3999 12.0004 2.3999Z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
        </fade-in-up>
        <fade-in-up at="0.75">
          <a
            href="https://www.instagram.com/mellem_vivre/"
            target="_blank"
            aria-label="Ouvre un lien externe vers instagram"
            class="social-link"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="-icon -illustrative -socials ui-fragments-svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.9996 5.1142C14.2424 5.1142 14.5084 5.1226 15.3946 5.1632C17.671 5.2668 18.7343 6.3469 18.8379 8.6065C18.8785 9.492 18.8862 9.758 18.8862 12.0008C18.8862 14.2443 18.8778 14.5096 18.8379 15.3951C18.7336 17.6526 17.6731 18.7348 15.3946 18.8384C14.5084 18.879 14.2438 18.8874 11.9996 18.8874C9.75681 18.8874 9.49081 18.879 8.60531 18.8384C6.32331 18.7341 5.26561 17.6491 5.16201 15.3944C5.12141 14.5089 5.11301 14.2436 5.11301 12.0001C5.11301 9.7573 5.12211 9.492 5.16201 8.6058C5.26631 6.3469 6.32681 5.2661 8.60531 5.1625C9.49151 5.1226 9.75681 5.1142 11.9996 5.1142ZM11.9996 3.6001C9.71831 3.6001 9.43271 3.6099 8.53671 3.6505C5.48611 3.7905 3.79071 5.4831 3.65071 8.5365C3.60941 9.4332 3.59961 9.7188 3.59961 12.0001C3.59961 14.2814 3.60941 14.5677 3.65001 15.4637C3.79001 18.5143 5.48261 20.2097 8.53601 20.3497C9.43271 20.3903 9.71831 20.4001 11.9996 20.4001C14.2809 20.4001 14.5672 20.3903 15.4632 20.3497C18.511 20.2097 20.2106 18.5171 20.3485 15.4637C20.3898 14.5677 20.3996 14.2814 20.3996 12.0001C20.3996 9.7188 20.3898 9.4332 20.3492 8.5372C20.212 5.4894 18.5173 3.7912 15.4639 3.6512C14.5672 3.6099 14.2809 3.6001 11.9996 3.6001ZM11.9996 7.6867C9.61751 7.6867 7.68621 9.618 7.68621 12.0001C7.68621 14.3822 9.61751 16.3142 11.9996 16.3142C14.3817 16.3142 16.313 14.3829 16.313 12.0001C16.313 9.618 14.3817 7.6867 11.9996 7.6867ZM11.9996 14.8001C10.4533 14.8001 9.19961 13.5471 9.19961 12.0001C9.19961 10.4538 10.4533 9.2001 11.9996 9.2001C13.5459 9.2001 14.7996 10.4538 14.7996 12.0001C14.7996 13.5471 13.5459 14.8001 11.9996 14.8001ZM16.4838 6.5086C15.9266 6.5086 15.4751 6.9601 15.4751 7.5166C15.4751 8.0731 15.9266 8.5246 16.4838 8.5246C17.0403 8.5246 17.4911 8.0731 17.4911 7.5166C17.4911 6.9601 17.0403 6.5086 16.4838 6.5086Z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
        </fade-in-up>
        <fade-in-up at="1.5">
          <a
            href="https://www.linkedin.com/showcase/mellem-vivre/"
            target="_blank"
            aria-label="Ouvre un lien externe vers linkedin"
            class="social-link"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="-icon -illustrative -socials ui-fragments-svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M20.4 20.3701H16.9195V14.9218C16.9195 13.623 16.896 11.9525 15.1095 11.9525C13.2982 11.9525 13.0217 13.3674 13.0217 14.8292V20.3701H9.54511V9.16837H12.8822V10.6993H12.9291C13.3933 9.81908 14.5305 8.8906 16.2244 8.8906C19.7493 8.8906 20.4 11.2105 20.4 14.2268V20.3701ZM5.61864 7.63742C4.50107 7.63742 3.59998 6.73372 3.59998 5.61745C3.59998 4.5038 4.50107 3.6001 5.61864 3.6001C6.73229 3.6001 7.6373 4.5038 7.6373 5.61745C7.6373 6.73372 6.73229 7.63742 5.61864 7.63742ZM3.87643 20.3701H7.36084V9.16837H3.87643V20.3701Z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
        </fade-in-up>
        <fade-in-up at="2.25">
          <a
            href="https://www.youtube.com/@mellem_vivre"
            target="_blank"
            aria-label="Ouvre un lien externe vers youtube"
            class="social-link"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="-icon -illustrative -socials ui-fragments-svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.0504 3.59869L12.5654 3.6009C14.3459 3.61222 19.8176 3.68017 21.3768 4.08788C22.4093 4.35537 23.2229 5.14813 23.4987 6.15434C23.9335 7.73387 23.9915 10.801 23.9992 11.5908V11.9691C23.9915 12.7592 23.9335 15.8274 23.4987 17.4069C23.2229 18.4131 22.4093 19.2045 21.3768 19.4734C19.6839 19.916 13.3792 19.9582 12.1937 19.9622H11.8079C10.6224 19.9582 4.31751 19.916 2.6234 19.4734C1.59087 19.2045 0.777309 18.4131 0.501504 17.4069C0.0666827 15.8274 0.00870671 12.7592 0.000976562 11.9691V11.5908C0.00870671 10.801 0.0666827 7.73387 0.501504 6.15434C0.777309 5.14813 1.59087 4.35537 2.6234 4.08788C4.18376 3.68017 9.6556 3.61222 11.4362 3.6009L11.9512 3.59869C11.9675 3.59866 11.9799 3.59865 11.9882 3.59864L12.0008 3.59863C12.0008 3.59863 12.0178 3.59863 12.0504 3.59869ZM9.54571 8.32779V15.234L15.8185 11.7802L9.54571 8.32779Z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
        </fade-in-up>
      </animated-timeline>
    </div>
  </div>
</footer>

{{!-- <footer>
  <div class="container">
    <div class="left">
      <h2>
        Get updates on new releases
      </h2>
      <div class="footer-scrub-decorator"></div>
    </div>
    <div class="right">
      <button class="footer__contact-button">
        <span class="footer__button-background"></span>
        <span class="footer__button-content">
          Contact Us
        </span>
      </button>
      <ul class="ui-elements-socials">
        <li>
          <a
            href="https://www.facebook.com/Mellem-100667885090761"
            target="_blank"
            aria-label="Ouvre un lien externe vers facebook"
            class="social-link"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="-icon -illustrative -socials ui-fragments-svg"
            >
              <path
                d="M12.0004 2.3999C6.69789 2.3999 2.40039 6.6974 2.40039 11.9999C2.40039 16.7924 5.91039 20.7637 10.5004 21.4837V14.7749H8.06289V11.9999H10.5004V9.8849C10.5004 7.47928 11.9329 6.1499 14.1266 6.1499C15.1766 6.1499 16.2754 6.3374 16.2754 6.3374V8.6999H15.0641C13.8716 8.6999 13.5004 9.44053 13.5004 10.1999V11.9999H16.1629L15.7373 14.7749H13.5004V21.4837C18.0904 20.7637 21.6004 16.7924 21.6004 11.9999C21.6004 6.6974 17.3029 2.3999 12.0004 2.3999Z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/mellem_vivre/"
            target="_blank"
            aria-label="Ouvre un lien externe vers instagram"
            class="social-link"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="-icon -illustrative -socials ui-fragments-svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.9996 5.1142C14.2424 5.1142 14.5084 5.1226 15.3946 5.1632C17.671 5.2668 18.7343 6.3469 18.8379 8.6065C18.8785 9.492 18.8862 9.758 18.8862 12.0008C18.8862 14.2443 18.8778 14.5096 18.8379 15.3951C18.7336 17.6526 17.6731 18.7348 15.3946 18.8384C14.5084 18.879 14.2438 18.8874 11.9996 18.8874C9.75681 18.8874 9.49081 18.879 8.60531 18.8384C6.32331 18.7341 5.26561 17.6491 5.16201 15.3944C5.12141 14.5089 5.11301 14.2436 5.11301 12.0001C5.11301 9.7573 5.12211 9.492 5.16201 8.6058C5.26631 6.3469 6.32681 5.2661 8.60531 5.1625C9.49151 5.1226 9.75681 5.1142 11.9996 5.1142ZM11.9996 3.6001C9.71831 3.6001 9.43271 3.6099 8.53671 3.6505C5.48611 3.7905 3.79071 5.4831 3.65071 8.5365C3.60941 9.4332 3.59961 9.7188 3.59961 12.0001C3.59961 14.2814 3.60941 14.5677 3.65001 15.4637C3.79001 18.5143 5.48261 20.2097 8.53601 20.3497C9.43271 20.3903 9.71831 20.4001 11.9996 20.4001C14.2809 20.4001 14.5672 20.3903 15.4632 20.3497C18.511 20.2097 20.2106 18.5171 20.3485 15.4637C20.3898 14.5677 20.3996 14.2814 20.3996 12.0001C20.3996 9.7188 20.3898 9.4332 20.3492 8.5372C20.212 5.4894 18.5173 3.7912 15.4639 3.6512C14.5672 3.6099 14.2809 3.6001 11.9996 3.6001ZM11.9996 7.6867C9.61751 7.6867 7.68621 9.618 7.68621 12.0001C7.68621 14.3822 9.61751 16.3142 11.9996 16.3142C14.3817 16.3142 16.313 14.3829 16.313 12.0001C16.313 9.618 14.3817 7.6867 11.9996 7.6867ZM11.9996 14.8001C10.4533 14.8001 9.19961 13.5471 9.19961 12.0001C9.19961 10.4538 10.4533 9.2001 11.9996 9.2001C13.5459 9.2001 14.7996 10.4538 14.7996 12.0001C14.7996 13.5471 13.5459 14.8001 11.9996 14.8001ZM16.4838 6.5086C15.9266 6.5086 15.4751 6.9601 15.4751 7.5166C15.4751 8.0731 15.9266 8.5246 16.4838 8.5246C17.0403 8.5246 17.4911 8.0731 17.4911 7.5166C17.4911 6.9601 17.0403 6.5086 16.4838 6.5086Z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/showcase/mellem-vivre/"
            target="_blank"
            aria-label="Ouvre un lien externe vers linkedin"
            class="social-link"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="-icon -illustrative -socials ui-fragments-svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M20.4 20.3701H16.9195V14.9218C16.9195 13.623 16.896 11.9525 15.1095 11.9525C13.2982 11.9525 13.0217 13.3674 13.0217 14.8292V20.3701H9.54511V9.16837H12.8822V10.6993H12.9291C13.3933 9.81908 14.5305 8.8906 16.2244 8.8906C19.7493 8.8906 20.4 11.2105 20.4 14.2268V20.3701ZM5.61864 7.63742C4.50107 7.63742 3.59998 6.73372 3.59998 5.61745C3.59998 4.5038 4.50107 3.6001 5.61864 3.6001C6.73229 3.6001 7.6373 4.5038 7.6373 5.61745C7.6373 6.73372 6.73229 7.63742 5.61864 7.63742ZM3.87643 20.3701H7.36084V9.16837H3.87643V20.3701Z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/@mellem_vivre"
            target="_blank"
            aria-label="Ouvre un lien externe vers youtube"
            class="social-link"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="-icon -illustrative -socials ui-fragments-svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.0504 3.59869L12.5654 3.6009C14.3459 3.61222 19.8176 3.68017 21.3768 4.08788C22.4093 4.35537 23.2229 5.14813 23.4987 6.15434C23.9335 7.73387 23.9915 10.801 23.9992 11.5908V11.9691C23.9915 12.7592 23.9335 15.8274 23.4987 17.4069C23.2229 18.4131 22.4093 19.2045 21.3768 19.4734C19.6839 19.916 13.3792 19.9582 12.1937 19.9622H11.8079C10.6224 19.9582 4.31751 19.916 2.6234 19.4734C1.59087 19.2045 0.777309 18.4131 0.501504 17.4069C0.0666827 15.8274 0.00870671 12.7592 0.000976562 11.9691V11.5908C0.00870671 10.801 0.0666827 7.73387 0.501504 6.15434C0.777309 5.14813 1.59087 4.35537 2.6234 4.08788C4.18376 3.68017 9.6556 3.61222 11.4362 3.6009L11.9512 3.59869C11.9675 3.59866 11.9799 3.59865 11.9882 3.59864L12.0008 3.59863C12.0008 3.59863 12.0178 3.59863 12.0504 3.59869ZM9.54571 8.32779V15.234L15.8185 11.7802L9.54571 8.32779Z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer> --}}

<!-- JavaScript -->
{{>scripts}}
