<header>
  <animated-element opacity="0, 1" delay="4">
    <div class="header-container">
      <div class="container">
        <div class="header-logo__container" id="logo-animation-trigger">
          <fade-in duration="5">
            <trigger-element
              target="logo-animation-trigger"
              translate-y="0,-50%"
              event="hover"
              duration="0.5"
            >
              <a href="www.verndale.com">
                <span>
                  VERNDALE
                </span>
                <span>
                  VERNDALE
                </span>
              </a>
            </trigger-element>
          </fade-in>
        </div>
        <nav class="header__navigation">
          <button class="header__menu-trigger" id="menu-button-1">
            <trigger-element
              class="header__menu-trigger-inner"
              target="menu-button-1"
              event="click"
              translate-y="0, -50%"
            >
              <span>
                MENU +
              </span>
              <span>
                MENU -
              </span>
            </trigger-element>
          </button>
        </nav>
        <trigger-element
          class="header__overlay-menu"
          target="menu-button-1"
          event="click"
          translate-y="-100%, 0"
        >
          <div class="header__overlay-menu-inner container">
            <ul class="texts">
              <fade-in>
                <li class="item-projects" style="">
                  <a href="/projets/ville-marie" class="">
                    Project 1
                  </a>
                </li>
              </fade-in>
              <fade-in>
                <li class="item-projects" style="">
                  <a href="/projets/ville-marie" class="">
                    Project 2
                  </a>
                </li>
              </fade-in>
              <fade-in>
                <li class="item-projects" style="">
                  <a href="/projets/ville-marie" class="">
                    Project 3
                  </a>
                </li>
              </fade-in>
            </ul>
          </div>
        </trigger-element>
      </div>
    </div>
  </animated-element>
</header>