<header>
  <animated-element opacity="0, 1" delay="4">
    <div class="header-container">
      <div class="container">
        <div class="header-logo__container" id="logo-animation-trigger">
          <fade-in>
            <trigger-element target="logo-animation-trigger" translate-y="0,-50%" event="hover">
              <span>
                VERNDALE
              </span>
              <span>
                VERNDALE
              </span>
            </trigger-element>
          </fade-in>
        </div>
      </div>
    </div>
  </animated-element>
</header>