<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Home page' showScripts=showScripts}}
</head>
<body>
  <!-- Header -->
  {{>header}}

  <!-- Main Content -->
  <main>
    {{>hero-section}}
    {{>intro-section}}
  </main>

  <!-- Footer -->
  {{>footer showScripts=showScripts}}
</body>
</html>
