<section class="cta-section">
    <div class="intro-text">
      <div class="container">
        <div class="left">
          <fade-in-up bottom="20px" duration="0.75">
            <div>
              <animated-element>
                faster implementation.
              </animated-element>
            </div>
            <div>
              <animated-element>
                exceptional projects.
              </animated-element>
            </div>
          </fade-in-up>
        </div>

        <div class="right">
          <fade-in-down top="20px" duration="0.75">
          Easily integrate complex animations without in-depth knowledge of animation libraries or javascript code.
          </fade-in-down>
        </div>
    </div>
  </div>
  <div class="projects">
    <div class="container">
      {{>article-card id="trigger-1"}}
      {{>article-card id="trigger-2"}}
      {{>article-card id="trigger-3"}} 
      {{>article-card id="trigger-4"}}
    </div>
  </div>
</section>