<section class="hero-section">
    <div class="content container">
      <fade-in class="loader">
        <fade-out delay="2" duration="0.5">
          Verndale
        </fade-out>
      </fade-in>
      
        <div class="hero-content">
          <animated-element class="heading" scrub opacity="1, 0" translate-y="0, 75%"  start-offset="start start" duration="0.5">
            <animated-element delay="4.75" opacity="0,1" translate-y="20px, 0">
              <h1>
                welcome
              </h1>
            </animated-element>
          </animated-element>
          <div class="description">
            <animated-element delay="5" opacity="0,1" translate-y="30px, 0">
              <h2>
                verndale animation framework
              </h2>
            </animated-element>
            <animated-element delay="5.25" opacity="0,1" translate-y="20px, 0">
              <p>
                a versatile collection of web components designed to simplify the integration of specific animations into web projects.
              </p>
            </animated-element>
          </div>
        </div>
    </div>
  </animated-element>
  <div class="images">
    <animated-element class="absolute" translate-y="0, -100%" delay="4">
      <animated-element class="absolute background" translate-y="100%, 0" delay="0.75">
      </animated-element>
    </animated-element>
    <ul>
      <animated-element translate-y="0, -100%" delay="3.7">
        <li>
          <animated-element class="inner" translate-y="100%, 0" delay="1">
            <animated-element class="image" scale="1, 1.3" delay="1.75">
              <img src="/images/samples/1.jpg" alt="Placeholder image" />
            </animated-element>
          </animated-element>
        </li>
      </animated-element>
      <animated-element translate-y="0, -100%" delay="3.6">
        <li>
          <animated-element class="inner" translate-y="100%, 0" delay="1.15">
            <animated-element class="image" scale="1, 1.3" delay="1.75">
              <img src="/images/samples/6.jpg" alt="Placeholder image" />
            </animated-element>
          </animated-element>
        </li>
      </animated-element>
      <animated-element translate-y="0, -100%" delay="3.8">
        <li>
          <animated-element class="inner" translate-y="100%, 0" delay="1.3">
            <animated-element class="image" scale="1, 1.3" delay="1.75">
              <img src="/images/samples/3.jpg" alt="Placeholder image" />
            </animated-element>
          </animated-element>
        </li>
      </animated-element>
      <animated-element translate-y="0, -100%" delay="3.5">
        <li>
          <animated-element class="inner" translate-y="100%, 0" delay="1.45">
            <animated-element class="image" scale="1, 1.3" delay="1.75">
              <img src="/images/samples/10.jpg" alt="Placeholder image" />
            </animated-element>
          </animated-element>
        </li>
      </animated-element>
    </ul>
  </div>
</section>