<section class="intro-section">
  <div class="container">
    <div class="left">
      <animated-element class="inner" translate-x="100%, 0" opacity="0,1">
        <animated-element class="image" scale="1, 1.1" delay="1">
          <img src="/images/samples/20.jpg" alt="Placeholder image" />
        </animated-element>
      </animated-element>
    </div>
    <div class="right">
      <div class="quote">
        <animated-element class="animated-span" opacity="0, 1" duration="1.5" delay="1.5">
          <span class="badge">
            intro
          </span>
        </animated-element>
        <animated-element
          class="intro-scrub-decorator"
          scrub
          rotate="0deg, 270deg"
          translate-x="0, 25vw"
          start-offset="start end"
          end-offset="end center"
        ></animated-element>
        <p>
          <animated-timeline amount-visible="0.75">
            <animated-element class="animated-span" opacity="0, 1" at="0.5">
              <span>
                the power of web components
              </span>
            </animated-element>
            <animated-element class="animated-span" opacity="0, 1" at="1">
              <span>
                to encapsulate animations
              </span>
            </animated-element>
            <animated-element class="animated-span" opacity="0, 1" at="1.5">
              <span>
                in a
                <strong>
                  modular
                </strong>
                and
                <strong>
                  reusable
                </strong>
                manner.​
              </span>
            </animated-element>
          </animated-timeline>
        </p>
      </div>
    </div>
  </div>
</section>